start_time = "05:00:00";
end_time = "23:00:00";
shutdown_time = "23:05:00";
autostart = true;
timezone = "America/New_York";
# heartbeat_session = "solace1";

variables: {
  INSTANCE="devna";
  REFDATAROOT="/evt/data/prod/erds/1";
  RAWROOT="/evt/data/raw";
  GROUP="na_eq";
  LOGROOT="logs/$INSTANCE";
  VARROOT="var/$INSTANCE";
  CONFIGROOT="config";
};

admin: {
  name="admin.$INSTANCE";
  port=12014;
};

logs: {
  truncate=true;
  main="$LOGROOT/$YYYYMMDD/$YYYYMMDD.main.log";
  session="$LOGROOT/$YYYYMMDD/$YYYYMMDD.session.log";
  clntsess="$LOGROOT/$YYYYMMDD/$YYYYMMDD.clntsess.log";
  safecheck="$LOGROOT/$YYYYMMDD/$YYYYMMDD.safecheck.log";
  order="$LOGROOT/$YYYYMMDD/$YYYYMMDD.order.csv";
  execution="$LOGROOT/$YYYYMMDD/$YYYYMMDD.execution.csv";
  md="$LOGROOT/$YYYYMMDD/$YYYYMMDD.md.log";
  quote="$LOGROOT/$YYYYMMDD/$YYYYMMDD.quote.csv";
  trade="$LOGROOT/$YYYYMMDD/$YYYYMMDD.trade.csv";
  metaorder="$LOGROOT/$YYYYMMDD/$YYYYMMDD.metaorder.csv";
};

refdata: {
  instance = "$INSTANCE";
  calendar = "XNYS";
  exchangemaster = "$REFDATAROOT/$YYYY/exchangemaster/$YYYYMMDD.exchangemaster.csv";
  holidays = "$REFDATAROOT/$YYYY/holidays/$YYYY.holidays.csv";
  univ = "$REFDATAROOT/$YYYY/univ/$YYYYMMDD.$GROUP_univ.csv";
  prices = "$REFDATAROOT/$PYYYY/prices/$PYYYYMMDD.$GROUP_prices.csv";
  fxrates = "$REFDATAROOT/$PYYYY/fxrates/$PYYYYMMDD.prices.csv";
  submap = "$REFDATAROOT/$YYYY/submap/$YYYYMMDD.$GROUP_submap.csv";
  sod_adjustments = "$REFDATAROOT/$YYYY/sod_adjustments/$YYYYMMDD.$GROUP_sod_adjustments.csv";
  daily_stats = "$REFDATAROOT/$YYYY/daily_stats/$YYYYMMDD.$GROUP_daily_stats.csv";
  restricted = "$REFDATAROOT/$YYYY/restricted/$YYYYMMDD.restricted.csv";
  locates = "$REFDATAROOT/$YYYY/locates/$YYYYMMDD.$GROUP_locates.csv";
  bamid = "$REFDATAROOT/$YYYY/idmap/$YYYYMMDD.bam_idmap.csv";

  active_exchanges = [ "XNYS", "XNAS", "ARCX", "BATS", "BATY", "EDGX", "EDGA", "IEXG", "XPSX" ];
  active_symbols = [ "SPY.ARCX" ];
  active_expr = "adv21>1e6 && mktcap>1e9 && close>5 && close<80 && type==\"ETP\" && country==\"US\"";
  # enable_all_symbols = true;

  business_unit = "aqtf";
  broker = "GSCO";
  file_rescan_interval = "5min";
};

market_data: {
  providers: {
  };
};

safety_checker: {

  portfolio_checks: {
    max_portfolio_notional = 1.0e12;
    max_portfolio_delta = 1.0e11;
    max_orders = 1e13;
    max_notional = 1.0e12;
    max_delta = 5.0e5;
    max_order_qty = 10000000;
    max_qty_per_time = 1000000000;
    max_notl_per_time = 1.0e11;
  };

  default_security_checks: {
    max_orders = 1e12;
    max_order_qty = 1000000;
    max_notional = 1e11;
    max_price_away_pct = 0.1;
    max_ordered_notional = 5.0e11;
    max_qty_per_time = 1000000000; 
    max_notl_per_time = 1.0e10;
  };

  topic_locates = "trading/locates";
  topic_restricted = "trading/restricted";
  locates: {
    journal = "$VARROOT/$YYYYMMDD/locates.dat";
  }
};

position_manager: {
  ancillary_books = [ "AQTF" ];
  topic_posn_update = "position/AQTF/*/*";
  verbose = true;
  posn_update: {
    compute_aggregate = true;
  };
};

portfolio_manager: {
};

order_manager: {
  routing: {
    XADF = "null1";
    default = "bzx1";
  };

  # oid_persist = "$VARROOT/$YYYYMMDD/oid_persist.data";
};

metaorder_manager: {
};

session_manager: {
  watchdog = false;

  sessions: {
    null1: {
      type = "null_session";
      autostart = true;
    };

    bzx1: {
      type = "boe_us_session";
      enabled = true;
      autostart = true;
      marketid_type = "PQT";
      username = "PICO";
      password = "bz21pico";
      session_sub_id = "0024";
      server = "127.0.0.1";
      port = 11035;
      prefix = "BZX1";
      clearing_firm = "BZWX";
      debug = true;
      trace_messages = true;
    };

  };
};

batch_manager: {
  defaults: {
    destination = "twap1";
    duration = "10min";
  };
};

fix: {
  enabled = false;
  propertiesFileName = "$CONFIGROOT/fix_engine.properties";
};
